In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./matches - matches.csv')

In [6]:
data.drop_duplicates(subset=["city"]).shape

(31, 18)

In [5]:
data.drop_duplicates(subset=["city", "season"]).shape

(107, 18)

In [9]:
data.drop_duplicates("season", keep='last')[['season', 'winner']].sort_values("season")

     season                 winner
116    2008       Rajasthan Royals
173    2009        Deccan Chargers
233    2010    Chennai Super Kings
306    2011    Chennai Super Kings
380    2012  Kolkata Knight Riders
456    2013         Mumbai Indians
516    2014  Kolkata Knight Riders
575    2015         Mumbai Indians
635    2016    Sunrisers Hyderabad
58     2017         Mumbai Indians